<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-900 p-16 space-y-6">
    <h1 class="text-2xl font-bold text-white">
      Proof Of Work Simulator
    </h1>

    <div class="flex space-x-3">
      <a href="/" class="bg-purple-700 transition-all duration-350 hover:bg-purple-800 text-white px-4 py-2 rounded-lg">
        Home
      </a>

      <a href="/blocks" class="bg-green-700 transition-all duration-350 hover:bg-green-800 text-white px-4 py-2 rounded-lg">
        Blocks
      </a> 

      <a href="/transactions" class="bg-blue-700 transition-all duration-350 hover:bg-blue-800 text-white px-4 py-2 rounded-lg">
        Pending Transactions
      </a> 
    </div>

    <div class="grid grid-cols-1 gap-8 text-white"> 
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
        <h2 class="font-bold">
          Public Address
        </h2>
        <h3 class="text-4xl text-blue-200 space-y-2">
          <%= address %>
        </h3>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-8 text-white">
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
        <h2 class="font-bold">
          Blocks Verified (Longest Chain)
        </h2>
        <h3 class="text-4xl text-blue-200 space-y-2">
          <%= blockLength %>
        </h3>
      </div>
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
        <h2 class="font-bold">
          Pending Transactions
        </h2>
        <h3 class="text-4xl text-blue-200">
          0
        </h3>
      </div>
      <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
        <h2 class="font-bold">
          Difficulty
        </h2>
        <h3 class="text-4xl text-blue-200">
          2
        </h3>
      </div>
    </div>

    <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2 text-white">
        <h2 class="font-bold">
          Logs
        </h2>
        <pre class="max-h-96 overflow-y-auto break-words whitespace-break-spaces flex flex-col-reverse"><%= log %></pre>
    </div>
  </body>
</html>
