<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-900 p-16 space-y-6">
    <h1 class="text-2xl font-bold text-white">
      Proof Of Work Simulator
    </h1>

    <div class="flex space-x-3">
      <a href="/" class="bg-purple-700 transition-all duration-350 hover:bg-purple-800 text-white px-4 py-2 rounded-lg">
        Home
      </a>

      <a href="/blocks" class="bg-green-700 transition-all duration-350 hover:bg-green-800 text-white px-4 py-2 rounded-lg">
        Blocks
      </a> 

      <a href="/wallet"
        class="bg-orange-700 transition-all duration-350 hover:bg-orange-800 text-white px-4 py-2 rounded-lg">
        Wallet
      </a>

      <a href="/transactions" class="bg-blue-700 transition-all duration-350 hover:bg-blue-800 text-white px-4 py-2 rounded-lg">
        Pending Transactions
      </a> 
    </div>

    <div class="grid grid-cols-1 gap-8 text-white"> 
      <div class="flex justify-between items-center">
        <h2 class="font-bold text-2xl">
          Pending Transactions
        </h2>

        <button onclick="mineBlock()" class="bg-green-700 transition-all duration-350 hover:bg-blue-800 text-white px-4 py-2 rounded-lg">
          Validate Transactions 
        </button> 
      </div>
      
      <% for (const transaction of transactions) { %>
        <div class="bg-gray-800 w-full rounded-xl p-4 space-y-2">
          <div class="space-y-2">
            <h2 class="font-bold">Transaction Hash</h2>
            <p>
              <span class="text-purple-300 font-mono bg-gray-800 py-0.5 rounded-lg">
                <%= transaction.id %>
              </span>
            </p>
          </div>
          <hr>
          <div class="space-y-2">
            <% for (txOut of transaction.txOutputs) { %>
              <div class="flex space-x-8 w-full py-2 rounded-lg">
              <div>
                <p class="font-bold">Recipient</p>
                <p class="font-mono">
                  <%= txOut.address %>
                </p>
              </div>
              <div>
                <p class="font-bold">Amount</p>
                <p>
                  <%= txOut.amount %>
                </p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
    <script type="text/javascript">
      const mineBlock = () => {
        fetch("/blocks", {
          method: "POST",
        })
          .then((res) => {
            alert("Finished generating block! Check logs for details.")
            window.location = "/"
          })
      }
    </script>
  </body>
</html>
